/*@import a Google Font here!*/
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Comfortaa);

body {
	background-image: url("../images/background.png");

}

#container {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 10px
}

.dashed {
	border: 3px dashed pink;
	border-radius: 20px;
	margin: 10px 8px;
	padding-bottom: 5px;
}

.left-container {
	float: left;
}

.right-container {
	float: right;
}

.left-container, .right-container {
	border: 3px solid lightblue;
	padding: 0 5px;
	border-radius: 10px;
	text-align: center;
	width: 48%;
	background-color: white;
}


h1 {
	font-family: 'Pacifico', cursive;
	text-shadow: 1px 1px 5px #555;
}

h2 {
	font-family: 'Comfortaa', cursive;
}

p {
	font-family: 'Comfortaa', cursive;
}