<!DOCTYPE html>

<html ng-app="kittyApp">
	<head>
		<meta charset="utf-8">

		<title>Kitty Adoption</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		
		<script src="js/angular.js"></script>
		<script src="js/main.js"></script>
		<script src="js/KittiesController.js"></script>
	</head>

	<body ng-controller="KittyController as kitty">
		<main>
			<div id="container">
				<div class="left-container">
					<h1>Kitties For Adoption</h1>
					<div class="dashed" ng-repeat="cat in kitty.kittyPen | filter:{adopted: false}">
						<h2>{{cat.catName}}</h2>
						<p>I am {{cat.monthsOld}} months old.</p>
						<p>I am a {{cat.gender}}.</p>
						<img src="{{cat.image}}"><br>
						<p>Adopt? <input class="checkbox" type="checkbox" ng-model="cat.adopted"></input></p>
					</div>
				</div><div class="right-container">
					<h1>You Can't Have These Kitties</h1>
					<div class="dashed" ng-repeat="cat in kitty.kittyPen | filter:{adopted: true}">
						<h2>{{cat.catName}}</h2>
						<p>I am {{cat.monthsOld}}</p>
						<p>I am a {{cat.gender}}</p>
						<img src="{{cat.image}}"><br>
						<p>Adopt? <input class="checkbox" type="checkbox" ng-model="cat.adopted"></input></p>
					</div>
				</div>
				
			</div>
		</main>
	</body>
</html>
